body{
	background : black;
}
h1{
	font-family: Verdana;
	font-weight: normal;
	font-size: 50px;
	color: white;
	text-align: center;
}
p{
	color: Aquamarine;
	font-size: 16px;
	text-align: center;

}

video{
	display: block;
    margin: 0 auto;
}
h2{
	font-family: verdana;
	font-weight: 300;
	font-size: 42px;
	color: white;
	text-align: center;
}
p{
	font-family: verdana;
	font-size: 21px;
	color: gray;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}